@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    background-color: rgb(241, 245, 241);
    padding-top: 100px;
}

/* for error of headr click on sign in */
html {
  overflow-y: scroll; /* Always shows scrollbar to prevent shifting */
}